In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import pickle

C:\Users\DSR\AppData\Local\Temp\ipykernel_8800\192109009.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Load Myntra dataset
myntra = pd.read_csv('myntra_excel.csv',usecols=[2,9])

In [3]:
myntra.columns

Index(['product_id', 'title'], dtype='object')

In [4]:
myntra

       product_id                                              title
0         6937673                        IMARA Women Black Solid Top
1         7441182  House of Pataudi Men Black Printed Straight Kurta
2         9245141  The White Willow Unisex Off-White Therapedic M...
3         1314889                        Dupatta Bazaar Pink Dupatta
4         7705322  Manyavar Men Yellow & White Self Design Kurta ...
...           ...                                                ...
14995    10300951  LilPicks Boys Green & Yellow Printed Kurta wit...
14996     5504617    Shakumbhari Women Pink Embroidered A-Line Kurta
14997     4375262     Anouk Women Green Floral Foil Printed Cardigan
14998     2012151   Anouk Women Green & White Printed Straight Kurta
14999     9783251      RARE ROOTS Women Navy Blue Solid A-Line Dress

[15000 rows x 2 columns]

In [5]:
# Remove duplicate entries based on title from myntra
myntra  = myntra.drop_duplicates(subset=['title'])
myntra.shape

(11250, 2)

In [6]:
# After removing duplicate values, Reset index of database
myntra.reset_index(drop=True, inplace = True)

In [7]:
# All the features of the dataset
features = myntra.columns
print(features)

Index(['product_id', 'title'], dtype='object')

In [8]:
# To check if the dataset has any null values or not
myntra.isnull().sum()

product_id    0
title         0
dtype: int64

In [9]:
# First row
myntra.loc[0]

product_id                        6937673
title         IMARA Women Black Solid Top
Name: 0, dtype: object

In [44]:
x=myntra['product_id']
x[3000:3200]

3000    3000
3001    3001
3002    3002
3003    3003
3004    3004
        ...
3195    3195
3196    3196
3197    3197
3198    3198
3199    3199
Name: product_id, Length: 200, dtype: int64

In [11]:
# Drop duplicate products based on product_id
myntra = myntra.drop_duplicates(subset = ["product_id"])
myntra.shape

(11247, 2)

In [12]:
# No duplicate entries available based on product_id
myntra['product_id'].value_counts()

product_id
6937673     1
1619876     1
2526069     1
10222929    1
8500699     1
           ..
2684781     1
6698831     1
2120034     1
10024859    1
2012151     1
Name: count, Length: 11247, dtype: int64

In [13]:
# reset index
myntra.reset_index(drop = True, inplace = True)

In [14]:
# Remove all null values
myntra.dropna(inplace = True)

In [15]:
myntra.reset_index(inplace = True)

In [16]:

# Product_id == index
myntra['product_id'] = myntra['index']

In [36]:
myntra = myntra.drop_duplicates(subset=['title'])
myntra.shape

(11247, 3)

In [18]:
# Load ratings dataset
ratings = pd.read_csv('ratings.csv')

In [19]:
# Drop unnecessery column
ratings.drop('Unnamed: 0' , axis =1 , inplace = True)

In [37]:
# merge ratings dataset with myntra using product_id
myntra_merge_ratings = ratings.merge(myntra , on="product_id")
myntra_merge_ratings[12567:28765]

,userId,product_id,Rating,index,title
12567,1286,45,4.04,45,Libas Women Maroon Solid Straight Kurta
12568,4088,45,4.87,45,Libas Women Maroon Solid Straight Kurta
12569,5415,45,4.52,45,Libas Women Maroon Solid Straight Kurta
12570,5128,45,4.99,45,Libas Women Maroon Solid Straight Kurta
12571,29,45,4.19,45,Libas Women Maroon Solid Straight Kurta
...,...,...,...,...,...
28760,3677,104,4.06,104,Freehand Men Blue Printed Straight Kurta
28761,7187,104,4.73,104,Freehand Men Blue Printed Straight Kurta
28762,1693,104,4.52,104,Freehand Men Blue Printed Straight Kurta
28763,170,104,4.67,104,Freehand Men Blue Printed Straight Kurta
28764,4166,104,4.06,104,Freehand Men Blue Printed Straight Kurta

In [139]:
myntra_merge_ratings.shape

(2419078, 5)

In [29]:
Title=myntra_merge_ratings['title'].unique()

In [32]:
len(Title)

8771